name: Publish Axono Package (Linux x86_64 For CUDA)

#on:
#  push:
#    tags:
#      - 'v*'

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
  workflow_dispatch:  # 添加手动触发器

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          # cu125
          - py: "3.10"
            tag: "310"
            cuda: "12.5.0"
            cutag: "cu125"
          - py: "3.11"
            tag: "311"
            cuda: "12.5.0"
            cutag: "cu125"
          - py: "3.12"
            tag: "312"
            cuda: "12.5.0"
            cutag: "cu125"
          - py: "3.13"
            tag: "313"
            cuda: "12.5.0"
            cutag: "cu125"
          # cu118
          - py: "3.10"
            tag: "310"
            cuda: "11.8.0"
            cutag: "cu118"
          - py: "3.11"
            tag: "311"
            cuda: "11.8.0"
            cutag: "cu118"
          - py: "3.12"
            tag: "312"
            cuda: "11.8.0"
            cutag: "cu118"
          - py: "3.13"
            tag: "313"
            cuda: "11.8.0"
            cutag: "cu118"
          # cu126
          - py: "3.10"
            tag: "310"
            cuda: "12.6.0"
            cutag: "cu126"
          - py: "3.11"
            tag: "311"
            cuda: "12.6.0"
            cutag: "cu126"
          - py: "3.12"
            tag: "312"
            cuda: "12.6.0"
            cutag: "cu126"
          - py: "3.13"
            tag: "313"
            cuda: "12.6.0"
            cutag: "cu126"
         
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.py }}

    - name: Install CUDA Toolkit
      uses: Jimver/cuda-toolkit@master
      with:
        cuda: ${{ matrix.cuda }}
        sub-packages: '["nvcc"]'
        method: 'network'

    - name: Install Libcurand
      run: |
        CURAND_PKG="libcurand-dev-$(echo ${{ matrix.cuda }} | sed 's/\./-/g' | cut -d- -f1,2)"
        sudo apt-get update -y
        sudo apt-get install -y "$CURAND_PKG"

    - name: Check CUDA compiler
      run: |
        which nvcc
        nvcc --version

    - name: Install Dependencies
      run: |
        pip3 install -r requirements.txt
        pip3 install setuptools

    - name: Install build tools
      run: |
        python -m pip install -U pip wheel setuptools build

    - name: Detect platform & python tag
      id: info
      shell: bash
      run: |
        OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
        ARCH=$(uname -m)
        case "$OS" in
          linux)  PLAT="linux_$ARCH" ;;
          macos)
            [[ "$ARCH" == "arm64" ]] && PLAT="macosx_11_0_arm64" || PLAT="macosx_10_9_x86_64"
            ;;
          windows) PLAT="win_amd64" ;;
          *) echo "unsupported OS"; exit 1 ;;
        esac
        PYTAG="cp$(python -c 'import sys;print(f"{sys.version_info.major}{sys.version_info.minor}")')"
        echo "plat=$PLAT" >> $GITHUB_OUTPUT
        echo "pytag=$PYTAG" >> $GITHUB_OUTPUT
        echo "==> detected --plat-name=$PLAT --python-tag=$PYTAG"

    - name: Build Library
      run: |
        export AUTO_CI=cuda
        bash build.sh 2>&1 | tee build_output.log
        
    - name: Build manylinux wheels
      uses: pypa/cibuildwheel@v3
      env:
        CIBW_BUILD: cp${{ matrix.tag }}-*
        CIBW_SKIP: "*musllinux* *i686*"
        CIBW_MANYLINUX_X86_64_IMAGE: quay.io/pypa/manylinux_2_34_x86_64
        CIBW_PRERELEASE_PYTHONS: 1
        CIBW_ENABLE: cpython-prerelease

    - uses: actions/upload-artifact@v4
      with:
        name: wheels-linux-${{ matrix.tag }}-${{ matrix.cutag }}
        path: ./wheelhouse/*.whl

  upload_axono:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # cu125
          - py: "3.10"
            tag: "310"
            cuda: "12.5.0"
            cutag: "cu125"
          - py: "3.11"
            tag: "311"
            cuda: "12.5.0"
            cutag: "cu125"
          - py: "3.12"
            tag: "312"
            cuda: "12.5.0"
            cutag: "cu125"
          - py: "3.13"
            tag: "313"
            cuda: "12.5.0"
            cutag: "cu125"
          # cu118
          - py: "3.10"
            tag: "310"
            cuda: "11.8.0"
            cutag: "cu118"
          - py: "3.11"
            tag: "311"
            cuda: "11.8.0"
            cutag: "cu118"
          - py: "3.12"
            tag: "312"
            cuda: "11.8.0"
            cutag: "cu118"
          - py: "3.13"
            tag: "313"
            cuda: "11.8.0"
            cutag: "cu118"
          # cu126
          - py: "3.10"
            tag: "310"
            cuda: "12.6.0"
            cutag: "cu126"
          - py: "3.11"
            tag: "311"
            cuda: "12.6.0"
            cutag: "cu126"
          - py: "3.12"
            tag: "312"
            cuda: "12.6.0"
            cutag: "cu126"
          - py: "3.13"
            tag: "313"
            cuda: "12.6.0"
            cutag: "cu126"
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-linux-${{ matrix.tag }}-${{ matrix.cutag }}
          merge-multiple: true
          path: dist

      - name: Publish to download.axono.org
        env:
          URL:   ${{ secrets.AXONO_URL }}
          PASS:  ${{ secrets.AXONO_PASSWD }}
          DEV:   ${{ matrix.cutag }}
          PKG:   axono
        run: |
          for whl in dist/*; do
            [[ -f "$whl" ]] || continue
            echo "Uploading $whl ..."
            echo
            curl -s -F "device=$DEV" \
                    -F "package=$PKG" \
                    -F "passwd=$PASS" \
                    -F "file=@$whl" \
                    "$URL"
            echo
          done
        
