name: License-Header Check

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
  workflow_dispatch:  # 添加手动触发器

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install licenseheaders
        run: pip install licenseheaders

      - name: License-Header Check
        run: |
          licenseheaders -t .github/.license-header.tmpl -d . -E py --dry
