name: Build Wheel Check

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Wheel And Install
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        pip3 install -r requirements.txt
        pip3 install setuptools

    - name: Install build tools
      run: |
        python -m pip install -U pip wheel setuptools build

    - name: Detect platform & python tag
      id: info
      shell: bash
      run: |
        OS=$(echo "${{ runner.os }}" | tr '[:upper:]' '[:lower:]')
        ARCH=$(uname -m)
        case "$OS" in
          linux)  PLAT="linux_$ARCH" ;;
          macos)
            [[ "$ARCH" == "arm64" ]] && PLAT="macosx_11_0_arm64" || PLAT="macosx_10_9_x86_64"
            ;;
          windows) PLAT="win_amd64" ;;
          *) echo "unsupported OS"; exit 1 ;;
        esac
        PYTAG="cp$(python -c 'import sys;print(f"{sys.version_info.major}{sys.version_info.minor}")')"

        echo "plat=$PLAT" >> $GITHUB_OUTPUT
        echo "pytag=$PYTAG" >> $GITHUB_OUTPUT
        echo "==> detected --plat-name=$PLAT --python-tag=$PYTAG"

    - name: Build Library
      run: |
        export AUTO_CI=cpu
        bash build.sh 2>&1 | tee build_output.log
        
    - name: Build manylinux wheels
      uses: pypa/cibuildwheel@v2.16.2
      env:
        CIBW_BUILD: cp312-*
        CIBW_SKIP: "*musllinux*"
        CIBW_MANYLINUX_X86_64_IMAGE: quay.io/pypa/manylinux_2_34_x86_64
        CIBW_BEFORE_BUILD: |
          set -e
          rm -rf build python/library/*.so
          yum install -y gcc-c++ cmake python3-devel
          mkdir build
          cd build
          PYTHON_BIN=/opt/python/cp312-cp312/bin/python
          $PYTHON_BIN -m pip install -U pip pybind11
          cmake .. -DPython_INCLUDE_DIR=/opt/python/cp312-cp312/include/python3.12 -DPython_LIBRARY=/opt/python/cp312-cp312/lib/libpython3.12.so -DPython_EXECUTABLE=$PYTHON_BIN -Dpybind11_DIR=$($PYTHON_BIN -m pybind11 --cmakedir)
          make -j${nproc)

    - uses: actions/upload-artifact@v4
      with:
        name: wheels-linux
        path: ./wheelhouse/*.whl
  upload_pypi:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
